include License.txt
include version.py
exclude pypat/*.dll
exclude pypat/*.so
include pypat/libpat/CMakeLists.txt
include pypat/libpat/build/.gitkeep
recursive-include pypat/libpat/modules *
recursive-include pypat/libpat/libpat *
