[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[packages]
pypat = {editable = true,path = "."}

[scripts]
py.test = "py.test"

